* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Inter';
    src: url(fonts/Inter-Regular.ttf);
}
@font-face {
    font-family: 'Open Sans';
    src: url(fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: 'Avenir Next';
    src: url(fonts/Avenir\ Next\ Font.ttf);
}

.wrapper {
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    height: 100vh;
}
.left-picture {
    background-image: url(images/image.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.input-content {
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10%;
    position: relative;

    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
}
.inputs {
    display: flex;
    flex-direction: column;
    margin-bottom: 21px;
    gap: 10px;
}
form {
    width: 100%;
}
.inputs input {
    border: none;
    border-bottom: 1px solid #003D61;
    border-left: 1px solid #003D61;
    padding: 10px;
}
.inputs label {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 134.18%;
    letter-spacing: 0.06em;
    color: #003D61;
    opacity: 0.5;
}
.inputs:nth-child(2) label {
    color: #94B7CD;
}
::-webkit-input-placeholder {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 134.18%;
    letter-spacing: 0.06em;
    color: #C4C4C4;
    opacity: 0.5;
    padding-left: 45px;
}
a {
    color: #ED2980;
    text-decoration: none;
}
.terms-of-service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.span span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}
.below-span span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #003D61;
    backdrop-filter: blur(2px);
}
.icons {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media(max-width:1024px) {
        .wrapper{
            grid-template-columns: 1fr;
        } 
        .left-picture {
            height: 100vh;
        }
        .input-content {
            border-top-right-radius: 22px;
        }
}
