* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Inter';
    src: url(fonts/Inter-Regular.ttf);
}
@font-face {
    font-family: 'Open Sans';
    src: url(fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: 'Avenir Next';
    src: url(fonts/Avenir\ Next\ Font.ttf);
}
.container {
    max-width: 1183px;
    width: 100%;
    margin: 100px auto;
}
.content-wrapper {
    position: relative;
    height: 700px;
    display: flex;
}
.content-picture {
    position: relative;
}
.content-picture img {
    padding-left: 20px;
}
.header-stuff {
    width: 602px;
    top: 0;
    display: none;
    margin-top: 14px;
    position: absolute;
    justify-content: space-around;
}
.right-icons {
    display: flex;
}
.right-icons > div {
    padding: 5px;
}
.left-digits span {
    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.165px;
    color: #FFFFFF;
}
.right-icons img{
    width: 20px;
    height: 20px;
}
.input-content {
    width: 581px;
    height: 700px;
    background: #FFFFFF;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
    position: absolute;
    right:0;
}
.input-logo {
    text-align: center;
}
form {
    padding-left: 59px;
}
label {
    display: block;
}
.username-label {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 134.18%;
    letter-spacing: 0.06em;
    color: #003D61;
}
input {
    margin-top: 10px;
    width: 420px;
    height: 35px;
    border: 1px solid #003D61;
    border-top: none;
    border-right: none;
}
.password-input {
    margin-top: 14px;
}
.password-input label {
    color: #94B7CD;
}
.password-input input {
    border: 1px solid #94B7CD;
    border-top: none;
    border-right: none;
}
.Email-input {
    margin-top: 14px;
}
.terms-content {
    margin-top: 59px;
    padding-left: 59px;
    display: flex;
}
.terms-text {
    margin-left: 9px;
}
.terms-text span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    color: #003D61;
    backdrop-filter: blur(2px);
}
.password-input span a {
    display: none;
}
.terms-text span a {
    padding: 5px;
    color: #ED2980;
}
.below-span {
    margin-top: 15px;
    text-align: center;
}
.below-span span a{
    padding: 5px;
    color: #ED2980;
}
.input-button {
    display: none;
}
.below-span span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    color: #003D61;
    backdrop-filter: blur(2px);
}
.below-logos {
    margin-top: 30px;
    width:100%;
    display: flex;
    justify-content: center;
}
.below-logos > div {
    padding: 40px;
    padding-top: 0;
}
.input-below-span {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.input-below-span span {
    font-family: 'Avenir Next';
    font-style: normal;
    display: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.165px;
    color: #828282;
}
.input-below-span span a {
    color: #ED2980;
}



@media (max-width:392px) {
    .container {
        max-width: 392px;
        width: 100%;
        margin: 0 auto;
    }
    .content-wrapper {
        display: block;
    }
    .content-picture img {
        width: 100%;
        height: 100%;
    }
    .input-content {
        height:584px;
        width:100%;
        margin-bottom: 10px;
    }
    .inputlogo1 {
        width: 204px;
        height: 154px;
    }
    .username-label {
    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 39px;
    display: flex;
    align-items: center;
    letter-spacing: 0.17px;
    color: #B8B8B8;
    }
    input {
        margin-top: 10px;
        width: 300px;
        border-bottom: 1px solid rgba(79, 79, 79, 0.3);
    }
    .Email-input {
        display: none;
    }
    .content-picture img {
        padding-left:0.1px;
    }
    .password-input span a {
        margin-top: 8px;
        display: block;
        color: #ED2980;
    }
    .terms-content {
        display: none;
    }
    .below-span {
        display: none;
    }
    .input-button {
        display: block;
        margin-top: 14px;
        margin-left: 24px;
        background: #003D61;
        border-radius: 6px;
        width: 327px;
        height: 50px;
    }
    .input-button button {
        width: 100%;
        height: 100%;
        font-family: 'Avenir Next';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        text-align: center;
        letter-spacing: -0.165px;
        color: #FFFFFF;
        background: #003D61;
        border-radius: 6px;
    }
    form {
        padding-left: 24px;
    }
    .input-below-span span {
        display: block;
    }
    .header-stuff {
        width: 392px;
        top: 0;
        display: flex;
        margin-top: 14px;
        position: absolute;
        justify-content: space-around;
    }
    .right-icons img{
        width: 15px;
        height: 15px;
    }
}  